
#menu , #action {
    display: flex;
}

#menu .item , #action .item {
    padding-left: 30px;
}

#menu .item a {
    text-decoration: none;
    color: black;
}

#action .item {
    display: flex;
}

#action .item .phone {
    margin: auto;
}

#menu .item .dropdown button {
    padding: 0;
    padding-bottom: 5px;
    border: 0;
}

#menu .item:hover , #menu .item a:hover {
    color: #15ac7f;
}

#action .item button {
    padding: 0;
}

#breadcrumb {
    margin: 16px 0;
    border-top: 1px solid rgb(217, 217, 217);
    border-bottom: 1px solid rgb(217, 217, 217);
    background-color: rgb(250, 250, 255);
}


#breadcrumb ol {
    margin: 5px;
}

#title a h4 {
    margin: 16px 0;
    font-weight: bold;
}

#title a, #title-n a {
    text-decoration: none;
    color: black;
}

#title-n a h4 {
    margin-bottom: 16px;
    font-weight: bold;
}

.card-body .card-price, .card-body .card-text {
    color: black;
    margin: 0;
}

.card a {
    text-decoration: none;
}

.col-xl-3 .card , .col-xl-2 .card {
    border: none;
    margin-bottom: 10px;
}

.col-xl-3 .card a .card-body {
    height: 100px;
}

.col-xl-3 .card a:hover , .col-xl-2 .card a:hover {
    box-shadow: 0 0 8px rgb(230, 230, 240);
}

#title a:hover, #title-n a:hover {
    color: #009adc;
}

#footer-image {
    width: 100%;
}

#footer-image img {
    width: inherit;
}

.footer-content h5 {
    font-weight: bold;
    margin-bottom: 16px;
}

.col-xl-3 .list-item {
    padding-left: 16px;
}

.col-xl-3 .list-item a {
    text-decoration: none;
    color: black;
}

#footer .col-xl-3 img {
    width: 282px
}

.copyright {
    color: white;
    background-color: rgb(59, 59, 59);
    padding: 7px;
    font-size: 12px;
    text-align: center;
}